@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /*Roboto font download*/

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Urbanist;
    src: url(fonts/urbanist/Urbanist-VariableFont_wght.ttf); /*Urbanist font*/
}

@font-face {
    font-family: press_start;
    src: url(fonts/press_start/PressStart2P-Regular.ttf);

}

@font-face {
    font-family: Designer;
    src: url(fonts/designer/Designer.otf);
}

html {
    scroll-behavior: smooth; /* Smooth scrolling - Adds a smoother scrolling between tabs*/
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#img_home {
    width: 37px;
    height: 35px;
}


#img_home:hover {
    border: none;
    background-color: transparent;
}

a .hire_button{
    border: none;
    border-radius: 60px;
    font-family: Urbanist;
    color: white;
    width: 90px;
    cursor: pointer;
    margin-top: 30px;
    padding: 5px;
    background-color: #5777ff;
}

button .hire_button {
    width: 93px;
    cursor: pointer;
    background-color: #5777ff;
}

.hire_button:hover {
    border-radius: 60px;
    background-color: #8198ff;
}


.button_link {
    width: 30px;
    opacity: 65%;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    display: flex;
}

.button_link:hover {
    background-color: none;
}

main {
    height: 100%;
}


p {
    color: #4f4d4d;
    text-align: left;
    line-height: 1.5em;
    font-family: Urbanist;
    font-size: 16px;
}

header {
    background-color: #e9eaf3;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav {
    position: sticky; top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    text-align: center;
    padding: 5px;
    background-color: rgba(233, 234, 243, 0.3);

}

#name_span {
    border-radius: 50px;
    font-size: 2.3rem;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    background-color: #6379d7;
    font-family: Urbanist;
}

nav a {
    text-decoration: none;
    display: flex;
    padding: 10px;
    color: #000;
    font-size: 18px;
    font-family: Urbanist;
}

nav a:hover {
    background-color: #8198ff;
    color: white;
    border-radius: 60px;
}

section {
    padding-left: 60px;
    padding-right: 60px;
}

#first_section {
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 130px;
    height: 100dvh;
    background-color:#e9eaf3;
}

#first_article {
    padding-top: 50px;
    padding-bottom: 60px;
}

h1 {
    font-family: Urbanist, sans-serif, Arial;
    font-size: 50px;
    color: black;
    max-width: 500px;
}

h1#myname {
    max-width: 600px;
}

span#myname {
    color:#738bf3;
    font-family: Urbanist, sans-serif, Arial;
}

.p_maior {
    font-size: 20px;
    font-family: Urbanist;
    color: #474747;
    margin-top: 10px;
    margin-bottom: 10px;
}

#second_section {
    height: 90vh;
    padding: 0px 0px 90px 0px;
    background-color: #e2e3e9;
    background-image: url(images/code_imgae.jpg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0px 14px 12px #000000c2;
}

#second_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 10px;
    background-color: #000000ad;
}

#second_article_1 {
    padding-bottom: 60px;
    background-color: #000000ad;
}

h2 {
    text-align: center;
    color: #5777ff;
    font-family: Urbanist;
    font-size: 18px;
}

h3 {
    font-size: 2.4rem;
    text-align: center;
    font-family: Urbanist;
}

.p_menor {
    font-size: 1em;
    font-family: Urbanist;
    text-align: center;
    color: #d3d3d3;
    text-shadow: 1px 1px black;
    padding: 8px;
    max-width: 320px;
    margin-bottom: 15px;
}

.languages_div {
    border: 2px;
    width: 220px;
    height: 100%;
    padding: 15px;
    font-family: Urbanist;
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px black;
    background-color: #ffffffe0;
}

.container-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}


.container {
    display:flex;
    align-items: center;
    width: fit-content;
    gap: 20px;
    animation: 55s infinite slide linear;
    text-align: center;
    padding: 20px 0px;
}

.container:hover {
    animation-play-state: paused;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

#third_section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdee9;
    padding-top: 80px;
    padding-bottom: 20px;
}

.projects-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#p_third_section {
    max-width: 600px;
    text-shadow: none;
    color: #7b7474;
}

.p_for_description_projects {
    text-align: justify;
    margin-top: 3px;
    width: 291px;
    text-indent: 0.9rem;
}

iframe {
    margin: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 6px 1px #0000007a;
    border-radius: 6px;
}

div.container-container-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


div.iframe-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 290px;
    height: 328px;
    border: none;
    overflow: hidden; /* Remove scrollbar */
    scrollbar-width: none; /* Firefox */
}

div.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

div.project_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 0%;
    padding: 0px;
}

@media (max-width: 606) {
    div.iframe-container {
        padding: 0px;
    }
}

button.project_button {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
    padding: 8px;
    border: none;
    background-color: #5777ff;
    border-radius: 16px;
    color: white;
    font-family: Urbanist;
    font-size: 16px;
    box-shadow: 0px 0px 8px 0px #00000040;
}


a.project_anchor {
    background-color: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
}


#four_section {
    background-color: #e9eaf3;
    padding-top: 40px;
    padding-bottom: 60px;
}

h3.text_h {
    font-size: 2em;
}


h4.text_h {
    font-family: Urbanist;
}

.seta {
    margin-left: 8px;
    font-size: 16px;
    color: #0480be;
}

footer {
    background-color: #bec0cf;
    padding: 30px;
}

@media (max-width: 420px){

    section {
        padding-left: 40px;
        padding-right: 40px;
    }

    section#first_section {
        margin-top: 0px;
    }

    h1 {
        font-size: 2.5em;
    }

    .p_maior {
        font-size: 1.3em;
    }

    div.projects {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    div.iframe_container {
        width: 320px;
        height: 320px;
    }

}

@media  (max-width: 390px) {
    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.8em;
    }

    .p_maior {
        font-size: 1em;
    }

    .p_menor {
        font-size: 0.8em;
    }

    a {
        font-size: 1em;
    }

    #second_section {
        padding-left: 0px;
        padding-right: 0px;
    }

    #second_article p  {
        max-width: 300px;
    }

    iframe::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

}
