@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Urbanist;
    src: url(fonts/urbanist/Urbanist-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a .hire_button{
    border: none;
    border-radius: 60px;
    font-family: Urbanist;
    color: white;
    width: 90px;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    background-color: #5777ff;
}

button .hire_button {
    width: 93px;
    cursor: pointer;
    background-color: #5777ff;
}

.hire_button:hover {
    border-radius: 60px;
    background-color: #8198ff;
}


.button_link {
    width: 30px;
    opacity: 65%;
    border: none; cursor: pointer; width: 30px; height: 30px;
    margin-top: 10px;
    display: flex;
}

.button_link:hover {
    background-color: none;
}

section {
    padding-left: 80px;
    padding-right: 80px;
}

p {
    color: #757575;
    text-align: justify;
    line-height: 1.5em;
    font-family: Urbanist;
    font-size: 16px;
}

header {
    background-color: #ecefff;
    position: fixed;
    width: 100%;
}
nav {
    position: sticky; top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    margin: auto;
    padding: 5px;
    background-color: #f9faff;
}

#name_span {
    border-radius: 50px;
    font-size: 0.850em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    background-color: #5574fd;
}

nav a {
    text-decoration: none;
    display: flex;
    padding: 10px;
    color: #000;
    font-size: 18px;
    font-family: Urbanist;
}

nav a:hover {
    background-color: #8198ff;
    color: white;
    border-radius: 60px;
}

#first_section {
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: #f9faff;
}

#first_article {
    margin-top: 40px;
}

h1 {
    font-family: Urbanist;
    font-size: 50px;
    color: black;
}

.p_maior {
    font-size: 20px;
    font-family: Urbanist;
    color: #757575;
}

#second_section {
    background-color: #f2f4ff;
    padding-top: 50px;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    color: #5777ff;
    font-family: Urbanist;
    font-size: 20px;
}

h3 {
    font-size: 40px;
    text-align: center;
    font-family: Urbanist;
}

.p_menor {
    font-size: 1em;
    font-family: Urbanist;
    text-align: center;
    color: #757575;
    margin-bottom: 15px;
}

.languages_div {
    border: 2px;
    width: 220px;
    height: 100%;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    font-family: Urbanist;
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px black;
    background-color: white;
}

.container {
    text-align: center;
}

@media (max-width: 420px){

    section {
        padding-left: 40px;
        padding-right: 40px;
    }

    h1 {
        font-size: 2.5em;
    }

    a {
        padding: 5px;
    }

    .p_maior {
        font-size: 1.3em;
    }

}

@media  (max-width: 359px) {
    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.8em;
    }

    .p_maior {
        font-size: 1em;
    }

    .p_menor {
        font-size: 0.8em;
    }

    a {
        font-size: 1em;
    }

    #second_section {
        padding-left: 20px;
        padding-right: 20px;
    }
}