@charset "UTF-8";

/*Configuração das telas*/

@media screen and (min-width: 481px) {

    header {
        position: fixed;
        z-index: 1000;
    }

    menu {
        z-index: 1000;
    }

    section {
        z-index: -1;
    }

    nav {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
}